body {
    padding-top: 50px;
}
.icon-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.container {
    max-width: 600px;
}
.vcenter {
    text-align: center;
}
h3 {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 1em 2em 1em 3em;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border-left: 0px;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: 0px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe[style] {
    width: 100% !important;
}